
body{
	background-color: #000000;
	background-image: url("../resources/wood2.png");
	background-repeat: no-repeat;
	margin-left:auto;
	margin-right:auto;
	width:1050px;
	padding:0px;
	font-family:Helvetica Neue, sans-serif;

}

.menu{
	height:100px;
	width:600px;
	float:left;
}


.header a{
	background-image:url("../resources/header.png");
	width:310px;
	height:57px;
	margin:13px 0px 0px 0px;
	display:block;
	text-indent:-40000px;
	float:left;
}


.menuNav{
	margin-top:13px;
}

.menuNav {
	color:#9A9E9A;
	text-decoration:none;
	margin:0px 20px 0px 0px;
	font-size:12px;
}

.active {
	background-image:url("../resources/menuHover.png");
}

.navItem a{
	text-align:center;
	/*background-image:url("../resources/menu.png");*/
	width:62px;
	height:59px;
	float:left;
	margin-left:20px;
	margin-top:12px;
	  color:#9A9E9A;
		  text-decoration:none;

}

.menuNav a:hover {
	background-image:url("../resources/menuHover.png");
	width:62px;
	height:59px;
	float:left;
	margin-left:20px;
	margin-top:12px;

}


.mapcontainer{
padding-top:128px;
padding-left:12px;
}

.callout{
	background-image:url("../resources/orangeOVerlay.png");
	width:151px;
	height:153px;
	margin-left:10px;
	position:absolute;
	display:none;
}

.calloutThumbnail{
	margin-top:43px;
	margin-left:10px;
	border:1px solid #781214;
}

.calloutCloseButton{
	float:left;
	margin-top:133px;
	margin-left:15px;
}

.logo{
	float:right;
	margin-right:370px;
	padding-top:5px;	
}

.logo img{
	position:absolute;
	z-index:-555;
}

#involved{
	padding-top:30;
	text-align:center;
}


.timeline{
	width:975px;
	height:575px;
}

.timeline img{
	/*margin-top:42px;*/
	margin-left:13px;
}
