
body{
	background-color: #ffffff;
	background-image: url("../resources/background.jpeg");
	background-repeat: no-repeat;
	margin-left:auto;
	margin-right:auto;
	width:1050px;
	padding:0px;
	font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif;
	font-weight:300;
}

p{  font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif;
	font-weight:300;
	letter-spacing:1px;
 }
.menu{
	height:100px;
	width:600px;
	float:left;
}


.header a{
	background-image:url("../resources/header.png");
	width:192px;
	height:112px;
	margin:13px 0px 0px 0px;
	display:block;
	text-indent:-40000px;
	float:left;
}

.header a:hover {
	background-image:url("../resources/headerHover.png");
  width:192px;
	height:112px;
	margin:13px 0px 0px 0px;
	display:block;

}

.menuNav {
	color:#9A9E9A;
	text-decoration:none;
	margin:0px 40px 0px 0px;
	font-size:12px;
}

.active {
	background-image:url("../resources/menuhover.png");
}

.navItem a{
	text-align:center;
	width:62px;
	height:59px;
	float:left;
	margin-left:20px;
	margin-top:50px;
	color:#9A9E9A;
	text-decoration:none;

}

.menuNav a:hover {
	background-image:url("../resources/menuhover.png");
	width:62px;
	height:59px;
	float:left;
	margin-left:20px;
	margin-top:50px;

}


.mapcontainer{
	padding-top:140px;
	padding-left:12px;
}

.callout{
	background-image:url("../resources/popUp.png");
	width:151px;
	height:153px;
	margin-left:7px;
  margin-top:16px;
	position:absolute;
	display:none;
}

.calloutThumbnail{
	margin-top:43px;
	margin-left:10px;
	width:100px;
	height:100px;
	border:1px solid #781214;
}

.calloutCloseButton{
	float:left;
	margin-top:133px;
	margin-left:20px;
}

#myGallery
{
	width: 400px !important;
	height: 200px !important;
}

.logo{
	float:right;
	margin-right:370px;
	padding-top:5px;	
}

.logo img{
	position:absolute;
	z-index:-555;
}

.socialMedia{
	width:120px;
	height:40px;
  position:absolute;
	  z-index:1;
	margin-left:180px;
	margin-top:62px;
}

.socialMedia img{;
	width:30px;
	height:30px;
}

#facebook{
	margin-left:65px;
}

#twitter{
	margin-left:15px;
}

#involved{
	padding-top:30;
	text-align:center;
}


.timeline{
	width:975px;
	height:575px;
}

.timeline img{
	margin-left:13px;
}

#blank{
	position:absolute;
	z-index:-1;
}

.text{
	padding-top:20px;
	margin-left:215px;
	color:#5B0829;
	width:700px;
	height:500px;
	font-size:14px;
	z-index:2;
}

.text a{
	color:#B51F24;
}
